.profile-main .user-name {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #333;
}
.profile-main .orders-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  font-size: 1.5rem;
  color: #333;
}
.profile-main .orders__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.profile-main .orders__table thead {
  height: 2.5rem;
  text-align: left;
}
.profile-main .orders__table thead .col-id {
  width: 10%;
  padding-left: 0.5rem;
}
.profile-main .orders__table thead .col-status {
  width: 20%;
}
.profile-main .orders__table thead .col-details-quantity {
  width: 10%;
}
.profile-main .orders__table tbody {
  text-align: left;
}
.profile-main .orders__table tbody tr {
  height: 2.5rem;
}
.profile-main .orders__table tbody tr .col-id {
  padding-left: 0.5rem;
}
.profile-main .orders__table tbody tr .col-status[data-status=did-not-shiped] {
  color: #d63b3b;
}
.profile-main .orders__table tbody tr .col-status[data-status=did-shiped] {
  color: forestgreen;
}
.profile-main .orders__table tbody tr .col-quantity {
  text-align: right;
  padding-right: 0.5rem;
}
.profile-main .orders__table tbody .col-title {
  background-color: rgba(220, 230, 238, 0.7254901961);
}
.profile-main .orders__table tbody tr:nth-child(odd):not([class=col-title]) {
  background-color: rgba(220, 230, 238, 0.2196078431);
}
.profile-main .orders__table tbody tr:nth-child(even) {
  background-color: transparent;
}
.profile-main .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}
.profile-main .buttons-container .change-password-button {
  padding: 0.75rem;
  background-color: #f90;
  border-radius: 4px;
  border: 2px solid #f90;
  color: white;
  font-weight: 600;
}
.profile-main .buttons-container .change-password-button:hover {
  border-color: rgb(179, 109, 5);
}
.profile-main .buttons-container .log-out-button {
  padding: 0.75rem;
  background-color: #f56b6b;
  border: 1px solid #f56b6b;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
}
.profile-main .buttons-container .log-out-button:hover {
  background-color: #d63b3b;
}