.main__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #222;
  font-weight: 500;
  margin-bottom: 20px;
}

.order-form {
  margin-top: 1.25rem;
}
.order-form .input-container {
  margin-bottom: 0.75rem;
}
.order-form .input-container input {
  display: block;
  height: 2rem;
  width: 100%;
  padding: 0 1rem;
  margin-top: 0.25rem;
  outline: none;
  background-color: white;
  border: 2px solid #c5d5e2;
  border-radius: 4px;
}
.order-form .select-container {
  position: relative;
}
.order-form .select-container::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #9badbb transparent transparent transparent;
}
.order-form .select-container[data-state="mouseOver"]::after {
  border-color: rgba(8, 126, 243, 0.856) transparent transparent transparent;
}
.order-form .select-container select {
  margin-top: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background-color: white;
  border: 2px solid #c5d5e2;
  border-radius: 4px;
  height: 2.5rem;
  padding: 8px 37px 8px 20px;
  cursor: pointer;
}
.order-form .select-container select:hover {
  color: #06c;
}
.order-form .select-container select option {
  color: black;
}
.order-form .btn-container {
  margin-top: 1.25rem;
  text-align: center;
}
.order-form .btn-container .btn {
  padding: 0.75rem;
  background-color: #09f;
  border-radius: 4px;
  outline: none;
  border: 1px solid #007ce2;
  font-size: 0.9375rem;
  color: white;
}
.order-form .btn-container .btn:hover {
  background-color: #1ca4fe;
}
.order-form .text-danger {
  padding-left: 0.5rem;
}
.order-form .text-danger li {
  font-size: 0.9375rem;
  color: #f56b6b;
  font-weight: 600;
  margin-bottom: 0.25rem;
  list-style: inside;
}

.comleted-title {
  text-align: center;
  font-size: 3rem;
  color: #f90;
}

.save-to-pdf-button-container {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-to-pdf-button-container .save-to-pdf-button {
  text-align: center;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  background-color: #f90;
  cursor: pointer;
  border-width: 0px;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.save-to-pdf-button-container .save-to-pdf-button:hover {
  border-color: rgb(179, 109, 5);
}
