<section class="main__news-feed news-feed">
    <h2 class="news-feed__title">
        <a href="#" class="main__link">Новости</a>
    </h2>
    <div class="news-feed__view">
        <div class="news-feed__item news-feed__item-main">
            <a href="#" class="news-feed__card news-card">
                <img src="~/img/news/news1.jpeg" alt="Инсайдер предсказывает три новых сенсора камеры для флагмана Sony Xperia 1 V">
                <div class="news-card__in">
                    <small class="news-card__time">17:30</small>
                    <strong class="news-card__title">Инсайдер предсказывает три новых сенсора камеры для флагмана Sony Xperia 1 V </strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-aside">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news2.jpg" alt="Смартфон начального уровня Vivo Y02 «засветился» на сайте компании">
                <div class="news-card__in">
                    <small class="news-card__time">16:30</small>
                    <strong class="news-card__title">Смартфон начального уровня Vivo Y02 «засветился» на сайте компании </strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-aside">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news3.jpg" alt="Смарт-телевизоры Honor Smart Screen X3 поступили в продажу в Китае; цена – от 295 долларов">
                <div class="news-card__in">
                    <small class="news-card__time">15:30</small>
                    <strong class="news-card__title">Смарт-телевизоры Honor Smart Screen X3 поступили в продажу в Китае; цена – от 295 долларов </strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-aside">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news4.jpg" alt="Смартфоны Motorola Razr 2022 и Moto X30 Pro получили сертификаты HDR10+">
                <div class="news-card__in">
                    <small class="news-card__time">14:30</small>
                    <strong class="news-card__title">Смартфоны Motorola Razr 2022 и Moto X30 Pro получили сертификаты HDR10+</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-aside">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news5.jpg" alt="Lenovo выпустила оригинальный планшет-хамелеон Legion Y700 Ultimate Edition">
                <div class="news-card__in">
                    <small class="news-card__time">13:30</small>
                    <strong class="news-card__title">Lenovo выпустила оригинальный планшет-хамелеон Legion Y700 Ultimate Edition</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-footer">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news6.jpg" alt="Показаны новые цвета грядущих смарт-часов линейки Samsung Galaxy Watch5">
                <div class="news-card__in">
                    <small class="news-card__time">12:30</small>
                    <strong class="news-card__title">Показаны новые цвета грядущих смарт-часов линейки Samsung Galaxy Watch5</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-footer">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news7.jpg" alt="Возвращение легендарного медиаплеера Winamp: более 30 новых функций и">
                <div class="news-card__in">
                    <small class="news-card__time">11:30</small>
                    <strong class="news-card__title">Возвращение легендарного медиаплеера Winamp: более 30 новых функций и</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-footer">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news8.png" alt="«Утечка» основных характеристик планшета Lenovo Xiaoxin Pad Pro 2022">
                <div class="news-card__in">
                    <small class="news-card__time">10:15</small>
                    <strong class="news-card__title">«Утечка» основных характеристик планшета Lenovo Xiaoxin Pad Pro 2022</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-footer">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news9.jpg" alt="Флагманский смартфон OnePlus 10RT замечен в бенчмаркинге Geekbench">
                <div class="news-card__in">
                    <small class="news-card__time">09:15</small>
                    <strong class="news-card__title">Флагманский смартфон OnePlus 10RT замечен в бенчмаркинге Geekbench</strong>
                </div>
            </a>
        </div>
        <div class="news-feed__item news-feed__item-footer">
            <a href="#" class="news-feed__card">
                <img src="~/img/news/news10.jpg" alt="Состоялся мировой дебют компактного флагманского смартфона Asus Zenfone 9">
                <div class="news-card__in">
                    <small class="news-card__time">29.07</small>
                    <strong class="news-card__title">Состоялся мировой дебют компактного флагманского смартфона Asus Zenfone 9</strong>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="main__new-products new-products">
    <h2 class="new-products-feed__title">
        <a href="#" class="main__link">Новинки</a>
    </h2>
    <div class="new-products__view">
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM5922CW</a>
                    <span class="new-products__price">от 982,56 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM5922CW.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM0801C</a>
                    <span class="new-products__price">от 70,62 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM0801C.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">POTATO P3330-3</a>
                    <span class="new-products__price">от 851,47 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/POTATO P3330-3.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM7007C</a>
                    <span class="new-products__price">от 886,52 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM7007C.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM8809C</a>
                    <span class="new-products__price">от 269,67 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM8809C.jpeg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM8810C</a>
                    <span class="new-products__price">от 369,71 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM8810C.jpeg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Valvex Cubus 2447130</a>
                    <span class="new-products__price">от 988,00 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Valvex Cubus 2447130.jpeg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Valvex Diya Black 2447120</a>
                    <span class="new-products__price">от 950,00 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Valvex Diya Black 2447120.jpeg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM5662C</a>
                    <span class="new-products__price">от 1 378,00 б.р</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM5662C.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM7002BL</a>
                    <span class="new-products__price">от 1 344,00 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM7002BL.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">Lemark LM0462C</a>
                    <span class="new-products__price">от 949,00 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/Lemark LM0462C.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
        <div class="new-products__item">
            <span class="new-products__head">
                <a href="#" class="new-products__category">Душевые системы</a>
            </span>
            <div class="new-products__main">
                <div class="new-products__info">
                    <a href="#" class="new-products__name">POTATO P3565</a>
                    <span class="new-products__price">от 148,00 б.р.</span>
                </div>
                <a href="#" class="new-products__link-img">
                    <img src="~/img/products/POTATO P3565.jpg" class="new-products__img"></img>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="main__reviews reviews">
    <h2 class="reviews-feed__title">
        <a href="#" class="main__link">Обзоры</a>
    </h2>
    <div class="reviews__view">
        <div class="reviews__item">
            <a href="#" class="news-feed__card news-card">
                <img src="~/img/reviews/review1.jpg" alt="Как выбрать электрорубанок?">
                <div class="news-card__in">
                    <strong class="news-card__title">Как выбрать электрорубанок?</strong>
                </div>
            </a>
        </div>
        <div class="reviews__item">
            <a href="#" class="news-feed__card news-card">
                <img src="~/img/reviews/review2.jpg" alt="Как выбрать электрорубанок?">
                <div class="news-card__in">
                    <strong class="news-card__title">Как выбрать автомобильный аккумулятор?</strong>
                </div>
            </a>
        </div>
        <div class="reviews__item">
            <a href="#" class="news-feed__card news-card">
                <img src="~/img/reviews/review3.jpg" alt="Как выбрать электрорубанок?">
                <div class="news-card__in">
                    <strong class="news-card__title">Как выбрать автомобильную антенну?</strong>
                </div>
            </a>
        </div>
        <div class="reviews__item">
            <a href="#" class="news-feed__card news-card">
                <img src="~/img/reviews/review4.jpg" alt="Как выбрать электрорубанок?">
                <div class="news-card__in">
                    <strong class="news-card__title">Как выбрать камеру заднего вида?</strong>
                </div>
            </a>
        </div>
    </div>
</section>