@model string

<div class="profile-main">
    <h2 class="user-name">@User.Identity.Name</h2>
    <h3 class="user-role">Младший админ</h3>

    <div class="buttons-container">
        <a class="change-password-button" asp-controller="Admin" asp-action="CRUDproducts">Редактировать товары</a>
        <a class="change-password-button" asp-controller="Order" asp-action="List">Редактировать заказы</a>
        <a class="change-password-button" asp-controller="Order" asp-action="OrderStatistic">Смотреть статстику по заказам</a>
        <a class="change-password-button" asp-action="ChangePassword">Изменить пароль</a>
        <a class="log-out-button" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Model">Выйти</a>
    </div>
</div>

